@import "./nguyen";

body {
    background: url(../images/bg.jpg);
    // background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    // background-size: 100%;
    color: #333;
    font-family: Open Sans;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    position: absolute;

    .menu_wrapper {
        margin: 20px;
        margin-left: 14px;
        margin-right: 150px;

        div {
            width: 25px;
            height: 3px;
            background-color: red;
            margin: 5px;
        }
    }

    .header_logo {
        margin-top: 15px;
        margin-left: 250px;
    }
}

#menu_bar_nav {
    // display: flex;
    flex: 1;
    height: 100%;
    display: none;

    .menu_bar {
        z-index: 2;
        background-color: red;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: 240px;

        .menu_logo {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        .menu_items {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            margin-top: 30px;

            div {
                margin: 0px;

                a {

                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                    font-weight: 600px;
                    padding: 0 25px;
                    font-family: Open Sans;
                    font-size: 13px;
                    font-weight: 700;

                    span {
                        padding-left: 0px;
                        padding-right: 25px;
                        color: white;
                    }
                }
            }
        }
    }
}

main {
    position: relative;

    #section_dot {
        position: fixed;
        top: 50%;
        margin-left: 5px;
        z-index: 1;
        list-style-type: none;

        .active {
            background-color: white;
        }

        li {
            border: 1px solid white;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin-left: -20px;
            margin-top: 5px;

        }
    }

    #main_content {
        position: fixed;
        top: 40%;
        left: 23%;

        .active {
            display: block;
        }

        section {
            width: 500px;
            font-family: Open Sans;
            font-weight: 300;
            font-size: 15px;
            color: white;
            display: none;

            p {
                line-height: 26px;
            }

            h2 {
                font-size: 50px;
                font-weight: normal;
                font-family: 'walkway_semiboldregular';
                margin-bottom: 30px;
            }

            .btn:hover {
                background-color: white;
                color: black;
                span{
                    color: black;
                }
            }

            button {
                background-color: red;
                border-radius: 4px;
                color: white;
                width: 140px;
                height: 30px;
                border: none;
                font-weight: bold;
                margin-top: 20px;


                span {
                    margin-right: 10px;
                }
            }
        }

        section.features {
            ul {
                margin-left: -50px;
                float: left;
                list-style-type: none;


                li {
                    margin: 10px;

                    a:hover {
                        .tooltip_text {
                            visibility: visible;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: white;
                        position: relative;

                        span {
                            color: #E02217;
                            padding: 5px;
                            font-weight: normal;
                            line-height: 20px;
                            // font-family: Flaticon;


                        }

                        .tooltip_text {
                            visibility: hidden;
                            width: 355px;
                            height: 100px;
                            background: transparent;
                            // opacity: 0;
                            color: #fff;
                            text-align: left;
                            border-radius: 6px;
                            padding: 5px 0;

                            position: absolute;
                            // z-index: 1;
                            bottom: 100%;
                            left: 50%;
                            margin: 0 0 20px -167px;
                            pointer-events: none;
                            cursor: default;

                        }

                    }
                }
            }
        }

        section.about {
            ul {
                margin: 0;
                margin-bottom: 30px;
                padding: 0;
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;
                background-color: black;
                height: 60px;
                align-items: stretch;
                flex-wrap: wrap;
                align-content: center;

                li.active_ctn {
                    border-bottom: 5px solid red;
                }

                li {

                    a {
                        text-decoration: none;

                        span.icon {
                            padding: 5px;
                            color: red;
                        }

                        span {
                            color: white;
                        }
                    }
                }

                li.active {
                    border-bottom-color: #E02217;
                }

            }

            .about {
                display: none;
            }

            .active_ctn {
                display: block;
            }

            div#about_design_ctn,
            div#about_demos_ctn,
            div#about_features_ctn,
            div#about_elements_ctn {
                span.icon::before {
                    padding: 8px;
                    padding-left: 0;
                    margin-top: 20px;
                    color: red;
                }
            }

            div#about_features_ctn,
            div#about_elements_ctn {

                div {
                    span {
                        display: inline-block;
                        width: 49%;
                        line-height: 26px;
                    }
                }
            }

        }

        section.download {
            button {
                padding-bottom: 10px;
                height: 40px;

                .icon {
                    display: inline-block;
                    width: 17px;
                    height: 20px;
                }

                .appstore {
                    background: url('../images/appstore.png');
                }

                .playstore {
                    background: url('../images/playstore.png');
                }
            }
        }
    }

    @media (min-width: 870px) {
        .phone_wrap {
            position: relative;
            right: 100px;

            // @media (max-width: 1400px) {
            #hand_phone {
                // width: 60%;
                position: fixed;
                top: 20%;
                right: 15%;
                left: auto;
                // }
            }

            #phone_content {
                // width: 60%;
                position: fixed;
                top: 20%;
                right: 15%;
                left: auto;
                margin-top: 75px;
                margin-right: 90px;

                .active {
                    display: block;
                }

                img {
                    // display: block;
                    display: none;
                }
            }
        }
    }

    @media (max-width: 870px) {
        .phone_wrap {
            display: none;
        }
    }
}


#footer {
    display: flex;
    position: absolute;

    .footer_wrapper {
        position: fixed;
        bottom: 2%;
        display: flex;

        .footer_menu {
            margin: 20px;
            margin-left: 14px;
            margin-right: 150px;

            div {
                width: 25px;
                height: 3px;
                margin: 5px;
                display: none;
            }
        }

        #social-icons {
            margin-top: 15px;
            margin-left: 250px;

            ul {
                display: block;
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    display: inline-block;

                    a {
                        font-size: 28px;
                        color: white;
                        text-decoration: none;
                        transition: 0.3s;

                        i {
                            font-style: normal;
                            font-weight: normal;
                            opacity: 1;
                            display: block;
                            font-variant: normal;
                            font-size: 13px;
                            border: 1px solid white;
                            border-radius: 4px;
                            width: 24px;
                            height: 24px;
                            text-align: center;
                            line-height: 27px;
                            text-transform: none;
                        }
                    }
                }
            }
        }

    }
}