@import url('./header.less');
@import url('./menu.less');
@import url('./footer.less');
@import url('./responsive.less');

@font-face {
    font-family: 'walkway_semiboldregular';
    src: url('./font/Walkway_SemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'walkway_ultraboldregular';
    src: url('./font/Walkway_UltraBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    font-family: Open Sans;
    overflow: hidden;
    height: 100vh;
}

// HEADINGS
h1,
h2,
h3 {
    color: white;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: normal;
    font-family: 'walkway_semiboldregular';
    line-height: 1.2;
    margin-top: 20px;
}





main {
    position: relative;

    #section_dot {
        position: fixed;
        top: 37%;
        margin-left: 5px;
        z-index: 1;
        list-style-type: none;

        .active {
            background-color: white;
        }

        li {
            border: 1px solid white;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin-left: -20px;
            margin-top: 5px;

        }
    }



    #main_content {
        position: fixed;
        top: 27%;
        left: 23%;
        height: 100vh;
        overflow: hidden;
        // padding-left: 8%;
        // padding-top: 25%;


        // .active {
        //     display: block;
        // }

        section {
            width: 500px;
            font-family: Open Sans;
            font-weight: 300;
            font-size: 15px;
            color: white;
            padding-top: 40px;
            // padding-left: 150px;
            // display: none;
            // display: flex;
            // align-items: center;
            // flex-direction: column;
            // justify-content: center;
            display: block;
            height: 100vh;

            p {
                line-height: 26px;
            }

            h2 {
                font-size: 50px;
                font-weight: normal;
                font-family: 'walkway_semiboldregular';
                margin-bottom: 30px;
            }

            .btn:hover {
                background-color: white;
                color: black;

                span {
                    color: black;
                }
            }

            button {
                background-color: red;
                border-radius: 4px;
                color: white;
                width: 140px;
                height: 30px;
                border: none;
                font-weight: bold;
                margin-top: 20px;


                span {
                    margin-right: 10px;
                }
            }
        }


        @media screen and (max-width: 480px) {
            section {
                max-width: 300px;

                h2 {
                    font-size: 9vw;
                }
            }
        }



        section.features {

            ul {
                margin-left: -50px;
                float: left;
                list-style-type: none;


                li {
                    margin: 10px;

                    a:hover {
                        .tooltip_text {
                            visibility: visible;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: white;
                        position: relative;

                        span,
                        .tooltip_text::before {
                            color: #E02217;
                            // padding: 5px;
                            font-weight: normal;
                            line-height: 20px;
                        }

                        .tooltip_text::before {
                            font-size: x-large;
                        }

                        .tooltip_text {
                            visibility: hidden;
                            width: 300px;
                            // height: 100px;
                            background: black;
                            opacity: 0.9;
                            color: #fff;
                            text-align: left;
                            border-radius: 6px;
                            padding: 5px;
                            z-index: 1;
                            // position: absolute;
                            // bottom: 100%;
                            // left: 50%;

                            position: fixed;
                            // bottom: 38%;
                            left: 20%;

                            margin: 0 0 10px -167px;
                            border-bottom: 10px solid white;

                            .tooltip_bottom {
                                position: absolute;
                                display: block;
                                bottom: -20px;
                                left: 167px;
                                width: 0px;
                                height: 0px;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-top: 10px solid white;
                            }

                        }

                    }
                }
            }

            ul#features_gr1 li:nth-child(1) {

                a {
                    .tooltip_text {
                        bottom: 42%;
                    }
                }

            }

            ul#features_gr1 li:nth-child(2) {

                a {
                    .tooltip_text {
                        bottom: 39%;
                    }
                }

            }

            ul#features_gr1 li:nth-child(3) {

                a {
                    .tooltip_text {
                        bottom: 36%;
                    }
                }
            }

            ul#features_gr2 {
                li {
                    a {
                        .tooltip_text {
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                        }
                    }
                }
            }
        }

        section.about {
            ul {
                margin: 0;
                margin-bottom: 30px;
                padding: 0;
                display: flex;
                justify-content: space-evenly;
                list-style-type: none;
                background-color: black;
                height: 60px;
                align-items: stretch;
                flex-wrap: wrap;
                align-content: center;
                position: relative;

                li.active_ctn {
                    // border-bottom: 5px solid red;
                }

                li.about_li {
                    a {
                        text-decoration: none;

                        span.icon {
                            padding: 5px;
                            color: red;
                        }

                        span {
                            color: white;
                        }
                    }
                }

                #underscore_line {
                    position: absolute;
                    border-bottom: 4px solid red;
                    width: 25%;
                    bottom: 0px;
                    left: 0;
                }

            }

            .about_subctn {
                display: none;
            }

            .active_ctn {
                display: block;
            }

            div#about_design_ctn,
            div#about_demos_ctn,
            div#about_features_ctn,
            div#about_elements_ctn {
                span.icon::before {
                    padding: 8px;
                    padding-left: 0;
                    margin-top: 20px;
                    color: red;
                }
            }

            div#about_features_ctn,
            div#about_elements_ctn {

                div {
                    span {
                        display: inline-block;
                        width: 49%;
                        line-height: 26px;
                    }
                }
            }

        }

        section.feedback {
            .client_fb {
                display: flex;
                transition: transform 350ms ease-in-out;


                .default_client {
                    display: block;
                }

                div {
                    min-width: 100%;

                    span.client_name {
                        strong {
                            font-family: 'walkway_ultraboldregular';
                        }

                        font-family: 'walkway_ultraboldregular';
                    }

                    span.client_stars {
                        float: right;
                        color: red;
                    }
                }

            }

            #fb_client_controls {
                list-style-type: none;
                margin-left: -40px;

                .fb_active {
                    background-color: white;
                }

                li {
                    display: inline-block;
                    border: 1px solid white;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;

                }
            }
        }

        section.pricing {

            h2 {
                text-align: center;
            }

            div {
                float: left;
                width: 31%;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 4px;
                text-align: center;
                margin-right: 2%;

                h3.package {
                    background: rgba(0, 0, 0, 0.2);
                    margin-bottom: 20px;
                    font-size: 15px;
                    font-size: 22px;
                    padding: 20px 0;
                    margin: 0;
                    border-radius: 4px;

                }

                h3.package:hover,
                div.buy:hover {
                    background-color: red;

                }

                h3.package:hover~div.buy,
                div.buy:hover~h3.package {
                    background-color: red;

                }

                div.price {
                    width: 100%;
                    font-size: 28px;
                    line-height: 32px;
                    margin-bottom: 25px;

                    span {
                        font-size: 21px;
                    }
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 25px;

                    li {
                        padding-bottom: 10px;

                        span {
                            // margin: 3px;
                            font-weight: normal;

                        }

                        span::before {
                            color: red;
                            margin-right: 10px;
                            line-height: 21px;
                            font-weight: normal;
                        }
                    }

                }

                .buy {
                    background: rgba(0, 0, 0, 0.2);
                    padding: 20px 0;
                    font-weight: 700;
                    width: 100%;
                }
            }

            div:hover~div.buy,
            div:hover~h3.package {
                background-color: red;

            }

        }

        section.screenshots {
            h2 {
                display: block;
            }

            div.instruction {
                span {
                    display: block;
                    padding-bottom: 15px;
                }

                span::before {
                    color: red;
                    margin-right: 10px;
                    line-height: 21px;
                    font-weight: normal;
                }
            }

            #screenshots_controls {
                list-style-type: none;
                margin-left: -40px;

                .scr_active {
                    background-color: white;
                }

                li {
                    display: inline-block;
                    border: 1px solid white;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;

                }
            }

            .screenshot_imgs {
                position: fixed;
                top: 20%;
                right: 15%;
                left: auto;
                margin-top: 75px;
                margin-right: 90px;
                overflow: hidden;

                div {
                    width: 100%;

                }

                .wrapper_screenshot_imgs {
                    // display: flex;
                    display: none;
                    flex-wrap: nowrap;
                    transition: transform 350ms ease-in-out;
                    width: 232px;
                }


            }
        }


        section.download {
            button {
                padding-bottom: 10px;
                height: 40px;

                .icon {
                    display: inline-block;
                    width: 17px;
                    height: 20px;
                }

                .appstore {
                    background: url('../images/appstore.png');
                }

                .playstore {
                    background: url('../images/playstore.png');
                }
            }
        }

        section.contact {

            // top: -20%;
            // position: relative;
            // padding-top: 250px;
            // margin-left: 100px;
            ul {
                list-style-type: none;
                font-size: normal;
                float: left;
                padding: 0;
                margin-right: 50px;

                li {
                    position: relative;
                    margin-bottom: 10px;

                    span::before {
                        color: red;
                        margin-right: 5px;
                    }

                    div.tooltip_text {
                        visibility: hidden;
                        background-color: black;
                        opacity: 0.9;
                        z-index: 1;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        position: relative;
                        border-bottom: 10px solid white;
                        width: 280px;
                        // height: 250px;
                        position: absolute;
                        bottom: 100%;
                        margin: 15px 0;
                        left: -70px;

                        span.icon::before {
                            font-size: xx-large;
                            margin-right: 15px;
                            margin-left: 10px;
                        }

                        span {
                            display: block;
                        }

                        p {
                            margin: 20px;
                            font-size: 15px;

                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: 900;
                            }

                            a:hover {
                                color: red;
                            }
                        }

                        span.tooltip_arrow {
                            display: block;
                            // width: 10px;
                            // height: 10px;
                            position: absolute;
                            bottom: -20px;
                            border-top: 10px solid white;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                        }


                    }
                }

                li:hover .tooltip_text {
                    visibility: visible;
                }

            }

            #contact_form {
                float: left;
                margin-top: 30px;
                width: 100%;

                input,
                textarea,
                div {
                    float: left;
                    width: 47%;
                    border-radius: 4px;
                    border: none;
                    box-sizing: border-box;
                    color: #fff;
                    outline: none;
                    padding: 10px;
                    margin-right: 3%;
                    margin-bottom: 10px;
                    background-color: rgba(0, 0, 0, 0.3);
                    font-size: 13px;
                    font-weight: 300;
                }

                #name_warning,
                #email_warning {
                    // display: block;
                    color: transparent;
                    background: none;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 5px;
                }

                #sending_result {
                    background: none;
                    width: 97%;
                    margin: 0px;
                    padding: 0;
                    font-size: 16px;
                    color: aqua;
                }

                textarea {
                    width: 97%;
                    height: 70px;
                    resize: none;
                }

                #message_warning {
                    width: 97%;
                    color: transparent;
                    background: none;
                    margin-bottom: 0;
                    padding-bottom: 10px;
                    margin-top: 0;
                    padding-top: 5px;

                }

            }
        }
    }

}



// Responsive for different screen size
@media (min-width: 1400px) {
    main {
        .phone_wrap {

            #hand_phone {
                position: fixed;
                top: 20%;
                right: 15%;
                left: auto;
            }

            #phone_content {

                position: fixed;
                top: 20%;
                right: 15%;
                left: auto;
                margin-top: 75px;
                margin-right: 90px;

                .active {
                    display: block;
                }

                img {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 870px) and (max-width: 1400px) {
    main {
        .phone_wrap {
            #hand_phone {
                position: fixed;
                top: 20%;
                right: 0;
                left: auto;
            }

            #phone_content {
                position: fixed;
                top: 20%;
                right: 0;
                left: auto;
                margin-top: 75px;
                margin-right: 90px;

                .active {
                    display: block;
                }

                img {
                    display: none;
                }
            }
        }

        #main_content {
            left: 13%;

            section.screenshots {
                .screenshot_imgs {
                    right: 0;
                }
            }
        }
    }
}



@media (max-width: 870px) {
    main {
        .phone_wrap {
            display: none;
        }

        #section_dot {
            display: none;
        }

        section.screenshots {
            .screenshot_imgs {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #header {
        left: 0%;
        justify-content: space-between;
        width: 100%;

        .menu_wrapper {
            margin-right: unset;
        }

        .header_logo {
            margin-left: auto;
            margin-right: auto;
        }

    }

    main {
        #section_dot {
            display: none;
        }

        #main_content {
            left: 15%;
            top: 18%;

            section {
                h2 {
                    text-align: center;
                }

                button#download_btn {
                    display: block;
                    margin: auto;
                }
            }

            section.about {
                ul {
                    font-size: 3vw;
                }
            }

            section.video {
                iframe {
                    max-width: 33vh;
                }
            }

            section.pricing {
                div {
                    ul {
                        li {
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            section.contact {
                ul {
                    margin-right: 20px;
                }

                #submit_btn {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }
    }

    #footer {
        .footer_wrapper {
            width: 100%;

            .footer_menu {
                display: none;
            }

            #social-icons {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-left: unset;
            }
        }
    }
}