body {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Open Sans;
}
html {
  height: 100%;
}
#header {
  display: flex;
  position: absolute;
}
#header .menu_wrapper {
  margin: 20px;
  margin-left: 14px;
  margin-right: 150px;
}
#header .menu_wrapper div {
  width: 25px;
  height: 3px;
  background-color: red;
  margin: 5px;
}
#header .header_logo {
  margin-top: 15px;
  margin-left: 250px;
}
#menu_bar_nav {
  flex: 1;
  height: 100%;
  display: none;
}
#menu_bar_nav .menu_bar {
  background-color: red;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 240px;
}
#menu_bar_nav .menu_bar .menu_logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#menu_bar_nav .menu_bar .menu_items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 30px;
}
#menu_bar_nav .menu_bar .menu_items div {
  margin: 0px;
}
#menu_bar_nav .menu_bar .menu_items div a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600px;
  padding: 0 25px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 700;
}
#menu_bar_nav .menu_bar .menu_items div a span {
  padding-left: 0px;
  padding-right: 25px;
  color: white;
}
main {
  position: relative;
}
main #section_dot {
  position: fixed;
  top: 50%;
  margin-left: 5px;
  z-index: 1;
}
main #section_dot li {
  list-style-type: circle;
  font-size: 30px;
  line-height: 16px;
  color: white;
}
main #section_dot li span {
  background-color: white;
  width: 100%;
  height: 100%;
}
main #main_content {
  position: fixed;
  top: 40%;
  left: 23%;
}
main #main_content .active {
  display: block;
}
main #main_content section {
  width: 70%;
  font-family: Open Sans;
  font-weight: 200;
  font-size: 15px;
  color: white;
  display: none;
}
main #main_content section p {
  line-height: 26px;
}
main #main_content section h2 {
  font-size: 40px;
  font-weight: normal;
  font-family: 'walkway_semiboldregular';
  margin-bottom: 30px;
}
main #main_content section .btn:hover {
  background-color: white;
  color: black;
}
main #main_content section button {
  background-color: red;
  border-radius: 4px;
  color: white;
  width: 140px;
  height: 30px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
}
main #main_content section button span {
  margin-right: 10px;
}
main .phone_wrap {
  position: relative;
  right: 100px;
}
main .phone_wrap #hand_phone {
  position: fixed;
  top: 20%;
  right: 15%;
  left: auto;
}
main .phone_wrap #phone_content {
  position: fixed;
  top: 20%;
  right: 15%;
  left: auto;
  margin-top: 75px;
  margin-right: 90px;
}
main .phone_wrap #phone_content .active {
  display: block;
}
main .phone_wrap #phone_content img {
  display: none;
}
#footer {
  display: flex;
  position: absolute;
}
#footer .footer_wrapper {
  position: fixed;
  bottom: 2%;
  display: flex;
}
#footer .footer_wrapper .footer_menu {
  margin: 20px;
  margin-left: 14px;
  margin-right: 150px;
}
#footer .footer_wrapper .footer_menu div {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: none;
}
#footer .footer_wrapper #social-icons {
  margin-top: 15px;
  margin-left: 250px;
}
#footer .footer_wrapper #social-icons ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#footer .footer_wrapper #social-icons ul li {
  display: inline-block;
}
#footer .footer_wrapper #social-icons ul li a {
  font-size: 28px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
#footer .footer_wrapper #social-icons ul li a i {
  font-style: normal;
  font-weight: normal;
  opacity: 1;
  display: block;
  font-variant: normal;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 27px;
  text-transform: none;
}
