#header {
  display: flex;
  position: absolute;
}
#header .menu_wrapper {
  margin: 20px;
  margin-left: 14px;
  margin-right: 150px;
}
#header .menu_wrapper div {
  width: 25px;
  height: 3px;
  background-color: red;
  margin: 5px;
}
#header .header_logo {
  margin-top: 15px;
  margin-left: 250px;
}
#menu_bar_nav {
  flex: 1;
  height: 100%;
  display: none;
}
#menu_bar_nav .menu_bar {
  z-index: 2;
  background-color: red;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 240px;
}
#menu_bar_nav .menu_bar .menu_logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#menu_bar_nav .menu_bar .menu_items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 30px;
}
#menu_bar_nav .menu_bar .menu_items div {
  margin: 0px;
}
#menu_bar_nav .menu_bar .menu_items div a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600px;
  padding: 0 25px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 700;
}
#menu_bar_nav .menu_bar .menu_items div a span {
  padding-left: 0px;
  padding-right: 25px;
  color: white;
}
#footer {
  display: flex;
  position: absolute;
}
#footer .footer_wrapper {
  position: fixed;
  bottom: 2%;
  display: flex;
}
#footer .footer_wrapper .footer_menu {
  margin: 20px;
  margin-left: 14px;
  margin-right: 150px;
}
#footer .footer_wrapper .footer_menu div {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: none;
}
#footer .footer_wrapper #social-icons {
  margin-top: 15px;
  margin-left: 250px;
}
#footer .footer_wrapper #social-icons ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#footer .footer_wrapper #social-icons ul li {
  display: inline-block;
}
#footer .footer_wrapper #social-icons ul li a {
  font-size: 28px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
#footer .footer_wrapper #social-icons ul li a i {
  font-style: normal;
  font-weight: normal;
  opacity: 1;
  display: block;
  font-variant: normal;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 27px;
  text-transform: none;
}
@media (min-width: 870px) {
  main .phone_wrap {
    position: relative;
    right: 100px;
  }
  main .phone_wrap #hand_phone {
    position: fixed;
    top: 20%;
    right: 0;
    left: auto;
  }
  main .phone_wrap #phone_content {
    position: fixed;
    top: 20%;
    right: 15%;
    left: auto;
    margin-top: 75px;
    margin-right: 90px;
  }
  main .phone_wrap #phone_content .active {
    display: block;
  }
  main .phone_wrap #phone_content img {
    display: none;
  }
}
@media (max-width: 870px) {
  main .phone_wrap {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #header {
    left: 0%;
    justify-content: space-between;
    width: 100%;
  }
  #header .menu_wrapper {
    margin-right: unset;
  }
  #header .header_logo {
    margin-left: auto;
    margin-right: auto;
  }
  main #section_dot {
    display: none;
  }
  main #main_content {
    left: 15%;
  }
  main #main_content section h2 {
    text-align: center;
  }
  main #main_content section button#download_btn {
    display: block;
    margin: auto;
  }
  main #main_content section.about ul {
    font-size: 3vw;
  }
  main #main_content section.contact ul {
    margin-right: 30px;
  }
  main #main_content section.contact #submit_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #footer .footer_wrapper {
    width: 100%;
  }
  #footer .footer_wrapper .footer_menu {
    display: none;
  }
  #footer .footer_wrapper #social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: unset;
  }
}
@font-face {
  font-family: 'walkway_semiboldregular';
  src: url('font/Walkway_SemiBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'walkway_ultraboldregular';
  src: url('font/Walkway_UltraBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  font-family: Open Sans;
  overflow: hidden;
  height: 100vh;
}
h1,
h2,
h3 {
  color: white;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: normal;
  font-family: 'walkway_semiboldregular';
  line-height: 1.2;
  margin-top: 20px;
}
main {
  position: relative;
}
main #section_dot {
  position: fixed;
  top: 37%;
  margin-left: 5px;
  z-index: 1;
  list-style-type: none;
}
main #section_dot .active {
  background-color: white;
}
main #section_dot li {
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: -20px;
  margin-top: 5px;
}
main #main_content {
  position: fixed;
  top: 27%;
  left: 23%;
  height: 100vh;
  overflow: hidden;
}
main #main_content section {
  width: 500px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  color: white;
  padding-top: 40px;
  display: block;
  height: 100vh;
}
main #main_content section p {
  line-height: 26px;
}
main #main_content section h2 {
  font-size: 50px;
  font-weight: normal;
  font-family: 'walkway_semiboldregular';
  margin-bottom: 30px;
}
main #main_content section .btn:hover {
  background-color: white;
  color: black;
}
main #main_content section .btn:hover span {
  color: black;
}
main #main_content section button {
  background-color: red;
  border-radius: 4px;
  color: white;
  width: 140px;
  height: 30px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
}
main #main_content section button span {
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  main #main_content section {
    max-width: 300px;
  }
  main #main_content section h2 {
    font-size: 9vw;
  }
}
main #main_content section.features ul {
  margin-left: -50px;
  float: left;
  list-style-type: none;
}
main #main_content section.features ul li {
  margin: 10px;
}
main #main_content section.features ul li a:hover .tooltip_text {
  visibility: visible;
}
main #main_content section.features ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}
main #main_content section.features ul li a span,
main #main_content section.features ul li a .tooltip_text::before {
  color: #E02217;
  font-weight: normal;
  line-height: 20px;
}
main #main_content section.features ul li a .tooltip_text::before {
  font-size: x-large;
}
main #main_content section.features ul li a .tooltip_text {
  visibility: hidden;
  width: 300px;
  background: black;
  opacity: 0.9;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  position: fixed;
  left: 20%;
  margin: 0 0 10px -167px;
  border-bottom: 10px solid white;
}
main #main_content section.features ul li a .tooltip_text .tooltip_bottom {
  position: absolute;
  display: block;
  bottom: -20px;
  left: 167px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
main #main_content section.features ul#features_gr1 li:nth-child(1) a .tooltip_text {
  bottom: 42%;
}
main #main_content section.features ul#features_gr1 li:nth-child(2) a .tooltip_text {
  bottom: 39%;
}
main #main_content section.features ul#features_gr1 li:nth-child(3) a .tooltip_text {
  bottom: 36%;
}
main #main_content section.features ul#features_gr2 li a .tooltip_text {
  position: absolute;
  bottom: 100%;
  left: 50%;
}
main #main_content section.about ul {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: black;
  height: 60px;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}
main #main_content section.about ul li.about_li a {
  text-decoration: none;
}
main #main_content section.about ul li.about_li a span.icon {
  padding: 5px;
  color: red;
}
main #main_content section.about ul li.about_li a span {
  color: white;
}
main #main_content section.about ul #underscore_line {
  position: absolute;
  border-bottom: 4px solid red;
  width: 25%;
  bottom: 0px;
  left: 0;
}
main #main_content section.about .about_subctn {
  display: none;
}
main #main_content section.about .active_ctn {
  display: block;
}
main #main_content section.about div#about_design_ctn span.icon::before,
main #main_content section.about div#about_demos_ctn span.icon::before,
main #main_content section.about div#about_features_ctn span.icon::before,
main #main_content section.about div#about_elements_ctn span.icon::before {
  padding: 8px;
  padding-left: 0;
  margin-top: 20px;
  color: red;
}
main #main_content section.about div#about_features_ctn div span,
main #main_content section.about div#about_elements_ctn div span {
  display: inline-block;
  width: 49%;
  line-height: 26px;
}
main #main_content section.feedback .client_fb {
  display: flex;
  transition: transform 350ms ease-in-out;
}
main #main_content section.feedback .client_fb .default_client {
  display: block;
}
main #main_content section.feedback .client_fb div {
  min-width: 100%;
}
main #main_content section.feedback .client_fb div span.client_name {
  font-family: 'walkway_ultraboldregular';
}
main #main_content section.feedback .client_fb div span.client_name strong {
  font-family: 'walkway_ultraboldregular';
}
main #main_content section.feedback .client_fb div span.client_stars {
  float: right;
  color: red;
}
main #main_content section.feedback #fb_client_controls {
  list-style-type: none;
  margin-left: -40px;
}
main #main_content section.feedback #fb_client_controls .fb_active {
  background-color: white;
}
main #main_content section.feedback #fb_client_controls li {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
main #main_content section.pricing h2 {
  text-align: center;
}
main #main_content section.pricing div {
  float: left;
  width: 31%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-align: center;
  margin-right: 2%;
}
main #main_content section.pricing div h3.package {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-size: 15px;
  font-size: 22px;
  padding: 20px 0;
  margin: 0;
  border-radius: 4px;
}
main #main_content section.pricing div h3.package:hover,
main #main_content section.pricing div div.buy:hover {
  background-color: red;
}
main #main_content section.pricing div h3.package:hover ~ div.buy,
main #main_content section.pricing div div.buy:hover ~ h3.package {
  background-color: red;
}
main #main_content section.pricing div div.price {
  width: 100%;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 25px;
}
main #main_content section.pricing div div.price span {
  font-size: 21px;
}
main #main_content section.pricing div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
main #main_content section.pricing div ul li {
  padding-bottom: 10px;
}
main #main_content section.pricing div ul li span {
  font-weight: normal;
}
main #main_content section.pricing div ul li span::before {
  color: red;
  margin-right: 10px;
  line-height: 21px;
  font-weight: normal;
}
main #main_content section.pricing div .buy {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  font-weight: 700;
  width: 100%;
}
main #main_content section.screenshots h2 {
  display: block;
}
main #main_content section.screenshots div.instruction span {
  display: block;
  padding-bottom: 15px;
}
main #main_content section.screenshots div.instruction span::before {
  color: red;
  margin-right: 10px;
  line-height: 21px;
  font-weight: normal;
}
main #main_content section.screenshots #screenshots_controls {
  list-style-type: none;
  margin-left: -40px;
}
main #main_content section.screenshots #screenshots_controls .scr_active {
  background-color: white;
}
main #main_content section.screenshots #screenshots_controls li {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
main #main_content section.screenshots .screenshot_imgs {
  position: fixed;
  top: 20%;
  right: 15%;
  left: auto;
  margin-top: 75px;
  margin-right: 90px;
  overflow: hidden;
}
main #main_content section.screenshots .screenshot_imgs div {
  width: 100%;
}
main #main_content section.screenshots .screenshot_imgs .wrapper_screenshot_imgs {
  display: none;
  flex-wrap: nowrap;
  transition: transform 350ms ease-in-out;
  width: 232px;
}
main #main_content section.download button {
  padding-bottom: 10px;
  height: 40px;
}
main #main_content section.download button .icon {
  display: inline-block;
  width: 17px;
  height: 20px;
}
main #main_content section.download button .appstore {
  background: url('../images/appstore.png');
}
main #main_content section.download button .playstore {
  background: url('../images/playstore.png');
}
main #main_content section.contact ul {
  list-style-type: none;
  font-size: normal;
  float: left;
  padding: 0;
  margin-right: 50px;
}
main #main_content section.contact ul li {
  position: relative;
  margin-bottom: 10px;
}
main #main_content section.contact ul li span::before {
  color: red;
  margin-right: 5px;
}
main #main_content section.contact ul li div.tooltip_text {
  visibility: hidden;
  background-color: black;
  opacity: 0.9;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-bottom: 10px solid white;
  width: 280px;
  position: absolute;
  bottom: 100%;
  margin: 15px 0;
  left: -70px;
}
main #main_content section.contact ul li div.tooltip_text span.icon::before {
  font-size: xx-large;
  margin-right: 15px;
  margin-left: 10px;
}
main #main_content section.contact ul li div.tooltip_text span {
  display: block;
}
main #main_content section.contact ul li div.tooltip_text p {
  margin: 20px;
  font-size: 15px;
}
main #main_content section.contact ul li div.tooltip_text p a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}
main #main_content section.contact ul li div.tooltip_text p a:hover {
  color: red;
}
main #main_content section.contact ul li div.tooltip_text span.tooltip_arrow {
  display: block;
  position: absolute;
  bottom: -20px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
main #main_content section.contact ul li:hover .tooltip_text {
  visibility: visible;
}
main #main_content section.contact #contact_form {
  float: left;
  margin-top: 30px;
  width: 100%;
}
main #main_content section.contact #contact_form input,
main #main_content section.contact #contact_form textarea,
main #main_content section.contact #contact_form div {
  float: left;
  width: 47%;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  outline: none;
  padding: 10px;
  margin-right: 3%;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: 300;
}
main #main_content section.contact #contact_form #name_warning,
main #main_content section.contact #contact_form #email_warning {
  color: transparent;
  background: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
main #main_content section.contact #contact_form #sending_result {
  background: none;
  width: 97%;
  margin: 0px;
  padding: 0;
  font-size: 16px;
  color: aqua;
}
main #main_content section.contact #contact_form textarea {
  width: 97%;
  height: 70px;
  resize: none;
}
main #main_content section.contact #contact_form #message_warning {
  width: 97%;
  color: transparent;
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 5px;
}
@media (min-width: 1400px) {
  main .phone_wrap #hand_phone {
    position: fixed;
    top: 20%;
    right: 15%;
    left: auto;
  }
  main .phone_wrap #phone_content {
    position: fixed;
    top: 20%;
    right: 15%;
    left: auto;
    margin-top: 75px;
    margin-right: 90px;
  }
  main .phone_wrap #phone_content .active {
    display: block;
  }
  main .phone_wrap #phone_content img {
    display: none;
  }
}
@media (min-width: 870px) and (max-width: 1400px) {
  main .phone_wrap #hand_phone {
    position: fixed;
    top: 20%;
    right: 0;
    left: auto;
  }
  main .phone_wrap #phone_content {
    position: fixed;
    top: 20%;
    right: 0;
    left: auto;
    margin-top: 75px;
    margin-right: 90px;
  }
  main .phone_wrap #phone_content .active {
    display: block;
  }
  main .phone_wrap #phone_content img {
    display: none;
  }
  main #main_content {
    left: 13%;
  }
  main #main_content section.screenshots .screenshot_imgs {
    right: 0;
  }
}
@media (max-width: 870px) {
  main .phone_wrap {
    display: none;
  }
  main #section_dot {
    display: none;
  }
  main section.screenshots .screenshot_imgs {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #header {
    left: 0%;
    justify-content: space-between;
    width: 100%;
  }
  #header .menu_wrapper {
    margin-right: unset;
  }
  #header .header_logo {
    margin-left: auto;
    margin-right: auto;
  }
  main #section_dot {
    display: none;
  }
  main #main_content {
    left: 15%;
  }
  main #main_content section h2 {
    text-align: center;
  }
  main #main_content section button#download_btn {
    display: block;
    margin: auto;
  }
  main #main_content section.about ul {
    font-size: 3vw;
  }
  main #main_content section.contact ul {
    margin-right: 30px;
  }
  main #main_content section.contact #submit_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #footer .footer_wrapper {
    width: 100%;
  }
  #footer .footer_wrapper .footer_menu {
    display: none;
  }
  #footer .footer_wrapper #social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: unset;
  }
}
